.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* nav */
  .first-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
  }
  .shehab{
    font-size: 2rem;
    font-weight: bolder;
  }
.simple-button{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 8px;
    background-color: white;
  }

/* section */
.section-details{
    height: 80vh;
    background-image:url(../assets/Hero-bg.png);
    text-align: center;
}
.section-main{
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 15px;
    margin-top: 32px;
    margin-bottom: 24px;
}
.btn-primary{
    padding: 21px 24px;
    border-radius: 8px;
    color: white;
    background-color: black;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
}
.first-image{
    margin-top: 26px;
}
.section-paragraph{
    margin-bottom: 32px;
}


/* responsive for mobile devices */
  @media screen and (max-width:576px){
    .first-nav{
       margin: 10px 10px;
       display: flex;
       justify-content: space-between;
    }
    .shehab{
        font-size: 25px;
    }
    .simple-button{
        font-size: 15px;
        font-weight: 600;
        padding: 5px 15px;
    }
    .section-details{
        height: 80vw;
    }
    .first-image{
        width: 110px;
        height: 110px;
        margin-top: 5px;
    }
    .section-main{
        font-size: 25px;
        word-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 2px;
       
    }
    .section-paragraph{
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .btn-primary{
        font-size: 12px;
        font-weight: 600;
        padding: 11px 12px;
        margin-top: 15px;
    }

  }

/* for tablate */
  @media screen and (min-width:577px) and (max-width:1440px) {
    .first-nav{
        margin: 30px 30px;
        display: flex;
        justify-content: space-between;
     }
     .shehab{
        font-size: 30px;

    }
    .simple-button{
        font-size: 15px;
        font-weight: 600;
        padding: 5px 15px;
    }
    .section-details{
        height: 80vh;
    }
    .first-image{
        width: 110px;
        height: 110px;
        margin-top: 5px;
    }
    .section-main{
        font-size: 25px;
        word-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 2px;
       
    }
    .section-paragraph{
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
    .btn-primary{
        font-size: 12px;
        font-weight: 600;
        padding: 11px 12px;
        margin-top: 15px;
    }
    
  }